body{
    padding: 0;
    margin: 0;
    background-color: rgba(0,0, 0, 0.2);
    
}
header{
    height: 200px;
    padding: 10px;
    text-align: center;
}
.pic-frame, .pic-frame img{
    height: 150px;
    border-radius: 50%;
    
}
.container{
    margin: 30px;
}
.project{
    height: 250px;
    width: 50%;
    background-image: linear-gradient(rgba(0,0,0,0),rgba(0,0,0,0)),url("images/pace.png");
    background-repeat: no-repeat;
    background-size: cover;
    margin: auto; 
    border-radius: 20px;
    margin-bottom: 20px;
    padding: 20px 0 0 0;
    
}
.project2{
    height: 200px;
    width: 50%;
    background-image: linear-gradient(rgba(0,0,0,0),rgba(0,0,0,0)),url("images/beaullo.png");
    background-repeat: no-repeat;
    margin: auto; 
    border-radius: 20px;
    margin-bottom: 20px;
    padding: 30px 0 0 0;
}
.project a, .project2 a, .project h2{
    text-align: center;
    color: #fff;
    text-decoration: none;
}
.project2 a{
    color: #000;
}
.mySlides{
    display: none;
    width: 90%;
}
.slideshow-customer{
    padding: 20px;
    border-radius: 40px;
    
}


@media (max-width:800px) {
    .project{
        width: 90%;
    }
    .project2{
        width: 90%;
    }
}