body{
    background-color: rgb(255, 254, 254);
    font-family: Georgia, 'Times New Roman', Times, serif;
}
.container{
    width: 80%;
    margin: auto;
}
.header{
    text-align: center;
}

.footer a{
    font-size: 15px;
    text-decoration: none;
 
}

